<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nomadly">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.MyApplication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- splashactivity2 Screen -->
        <activity
            android:name="com.example.nomadly.splashactivity2"
            android:exported="false" />

        <!-- SignupActivity Screen -->
        <activity
            android:name="com.example.nomadly.SignupActivity"
            android:exported="false" />

        <!-- Login Screen -->
        <activity
            android:name="com.example.nomadly.LoginActivity"
            android:exported="false" />

        <!-- Home Screen -->
        <activity
            android:name="com.example.nomadly.HomeActivity"
            android:exported="true" />

        <!-- Create Plan Screen -->
        <activity
            android:name="com.example.nomadly.CreatePlanActivity"
            android:exported="false" />

        <!-- Expense Tracker Screen -->
        <activity
            android:name="com.example.nomadly.ExpenseTrackerActivity"
            android:exported="false" />

        <!-- Plan Details Screen -->
        <activity
            android:name="com.example.nomadly.PlanDetailsActivity"
            android:exported="false" />

        <!-- Add Plan Intro -->
        <activity
            android:name="com.example.nomadly.AddPlanIntroActivity"
            android:exported="false" />

        <!-- Plan Itinerary -->
        <activity
            android:name="com.example.nomadly.PlanItineraryActivity"
            android:exported="false" />

        <!-- Explore -->
        <activity android:name=".ExploreActivity" />

        <!-- Profile -->
        <activity android:name=".ProfileActivity" />

        <!-- Inbox -->
        <activity android:name=".InboxActivity" />

        <!-- Expense-related Activities -->
        <activity android:name="com.example.nomadly.ExpenseActivity" android:exported="false" />
        <activity android:name="com.example.nomadly.ExpenseActivity1" android:exported="false" />
        <activity android:name="com.example.nomadly.ExpenseListActivity" android:exported="false" />

    </application>
</manifest>
